body {
	font-family: 'Work Sans', sans-serif;
}

.header {
	background-color: #F3C6BD;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding: 44px 0 50px;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo_title {
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #2B292D;
}

.logo_text {
	font-size: 18px;
	line-height: 25px;
	color: rgba(43, 41, 45, 0.6);
}



.header_li:not(:last-of-type) {
	margin-right: 50px;
}

.header_a {
	font-size: 18px;
	line-height: 25px;
	color: #2B292D;
	text-decoration: none;
}

.header_a:hover {
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #2B292D;
	transition: 100ms;
}

.header_button {
	width: 160px;
	height: 48px;
	margin: 0 0 0 70px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
	border: none;
	border-radius: 5px;
	font-weight: 700;
	font-size: 18px;
	line-height: 13px;
	color: #FFFFFF;
}

.header_button:hover {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #1329f5;
	transition: 100ms;
}

.section_start {
	margin: 0 auto;
	background-color: #F3C6BD;
	position: relative;
}

.start_img_block {
	position: relative;
	margin: 0 auto;
}

.start_img {
	position: absolute;
	bottom: -490px;
	right: 5px;
	max-width: 796px;
}

.start {
	margin: 0 auto;
}

.start_title {
	margin: o auto;
	position: relative;
	max-width: 754px;
	font-size: 80px;
	font-weight: 700;
	line-height: 78px;
	letter-spacing: -0.5px;
	color: #2B292D;
}

.start_text {
	position: relative;
	max-width: 456px;
	margin-top: 34px;
	font-size: 24px;
	line-height: 34px;
	color: #2B292D;
}

.start_nav {
	margin-top: 62px;
}

.start_header_button {
	width: 160px;
	height: 48px;
	margin-right: 8px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
	border: none;
	border-radius: 5px;
	font-weight: 700;
	font-size: 18px;
	line-height: 13px;
	color: #FFFFFF;
}

.start_button {
	width: 160px;
	height: 48px;
	background: #FFFFFF;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	line-height: 13px;
	color: #3040C4;
}

.section_what {
	margin: 0 auto;
	background-color: #F4F5F7;
}

.what_about {
	width: 555px;

}

.who_for {
	width: 555px;
}

.what_title {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;
	color: #2B292D;
}

.what_text {
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #2B292D;
}

.engage_section_bg {
	background-color: rgba(0, 161, 198, 0.07);
}

.engage_section {
	margin: 0 auto;

}

.engage_title_h6 {
	margin-bottom: 24px;
	font-size: 22px;
	font-weight: 700;
	line-height: 34px;
	text-align: center;
	color: #2B292D;
}

.engage_title_h1 {
	max-width: 555px;
	margin: 0 auto;
	font-size: 56px;
	font-weight: 700;
	line-height: 56px;
	text-align: center;
	letter-spacing: -0.5px;
	color: #2B292D;
}

.engage_text {
	max-width: 555px;
	margin: 30px auto 0;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #2B292D;
}

.engage_buttons {
	display: flex;
	justify-content: center;
	margin-top: 34px;
}

.engage_header_button {
	width: 160px;
	height: 48px;
	margin-right: 8px;
	background: #3040C4;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	line-height: 13px;
	color: #FFFFFF;
}

.engage_start_button {
	width: 160px;
	height: 48px;
	margin-bottom: 111px;
	background: #FFFFFF;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	line-height: 13px;
	color: #3040C4;
}

.engage_img {
	display: grid;
	grid-template-colums: repeat(4, 1fr);
	gap: 30px;
}

.engage_bg {
	background-color: #FFFFFF;
	grid-row-start: 1;



}

.engage_text {
	margin-bottom: 33px;
	font-size: 22px;
	font-weight: 700;
	line-height: 28px;

}


.grid_title {
	margin: 0 auto 26px;
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
	text-align: center;
}

.grid_text {
	max-width: 554px;
	margin: 0 auto 97px;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #172342;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	grid-template-rows: repeat(3, 3fr);
	gap: 4.5%;
}

.grid_item:nth-child(3),
.grid_item:nth-child(4) {
	grid-row: span 2;
}